*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.calculator{
  width:350px;
  padding:25px;
  border-radius:25px;
  backdrop-filter: blur(15px);
  background:rgba(255,255,255,0.08);
  border:1px solid rgba(255,255,255,0.2);
  box-shadow:0 10px 40px rgba(0,0,0,0.5);
}

.calculator h1{
  text-align:center;
  color:white;
  margin-bottom:20px;
  font-size:28px;
}

.display-box{
  margin-bottom:20px;
}

#display{
  width:100%;
  height:70px;
  border:none;
  outline:none;
  border-radius:15px;
  background:#0f172a;
  color:#00ffcc;
  font-size:30px;
  text-align:right;
  padding:15px;
  box-shadow:inset 0 0 10px rgba(0,255,204,0.3);
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

button{
  height:65px;
  border:none;
  border-radius:18px;
  font-size:22px;
  cursor:pointer;
  color:white;
  background:rgba(255,255,255,0.1);
  transition:0.2s ease;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

button:hover{
  transform:scale(1.05);
  background:rgba(255,255,255,0.2);
}

.operator{
  background:#ff7b00;
}

.operator:hover{
  background:#ff9100;
}

.equal{
  background:#00c853;
}

.equal:hover{
  background:#00e676;
}

.special{
  background:#3b82f6;
}

.special:hover{
  background:#60a5fa;
}
